 
.card456 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(25, 25, 25);
    color: aliceblue;
    background-color: rgb(29, 29, 29);
    border-radius: 8px;
     margin-bottom: 1rem; 
    padding: 15px;  
    box-sizing: border-box; 
    transition: all 1s ease-in-out;
    box-shadow: 0px 0px 2px white;
}

.card456:hover{

    box-shadow: 0px 0px 15px white;
}
 
.card456 img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}


.card-heading456 {
    font-size: 22px;
    font-weight: bold;  
    color: #8f8e8e;margin: 10px 0;
}

.card-description456 {
    font-size: 18px;
    line-height: 1.6; 
    color: #e6e5e5;margin: 10px 0;
}

.card-meta456 {
    font-weight: 600;
    color: #f5f3f3;
    font-size: 14px; margin: 10px 0;
}

.card-link456 {
    color: #e8a1ff;
    text-decoration: none;
    font-weight: bold;margin: 10px 0;
    font-size: 14px; 
}

.card-link456:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
      .card456 { 
         margin :0;
        padding: 20px;  
        text-align: justify;
        height: 100vw;
        overflow: scroll;
        margin-bottom: 25px;

    }
    .card456 img{
        width: 100%;
    }
    .card-heading456 {
        text-align:left;
        font-size: 32px;
    }
    .card-description456 { 
        text-indent: 18px; 
        font-size: 24px;
    }
    .card-meta456 {
        text-align:left; 
        font-size: 24px;
    }
    .card-link456 {
        text-align:left; 
        font-size: 24px;
    } 
}

@media only screen and (max-width: 480px) {
    .card456 { 
         margin :0;
        padding: 20px;  
        text-align: justify;
        height: 100vw;
        overflow: scroll;
        margin-bottom: 20px;

    }
    .card456 img{
        width: 100%;
    }
    .card-heading456 {
        text-align:left;
        font-size: 16px;
    }
    .card-description456 { 
        text-indent: 18px; 
        font-size: 14px;
    }
    .card-meta456 {
        text-align:left; 
        font-size: 14px;
    }
    .card-link456 {
        text-align:left; 
        font-size: 14px;
    } 
}

@media only screen and (max-width: 320px) {
    .card456 { 
         margin :0;
        padding: 20px;  
        text-align: justify;
        height: 150vw;
        overflow: scroll;
        margin-bottom: 20px;

    }
    .card456 img{
        width: 100%;
    }
    .card-heading456 {
        text-align:left;
        font-size: 14px;
    }
    .card-description456 { 
        text-indent: 18px; 
        font-size: 12px;
    }
    .card-meta456 {
        text-align:left; 
        font-size: 12px;
    }
    .card-link456 {
        text-align:left; 
        font-size: 12px;
    } 
}
